/**/

* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --primary: #a02334;
  --secondary: #ffad60;
  --yellow: #ffeead;
  --green: #96ceb4;
}

.wrapper {
  /* border: 1px solid var(--primary); */
  padding: 1%;
  width: 80%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.clearfix {
  float: none;
  clear: both;
}

.table-full {
  width: 100%;
}

table tr th {
  border-bottom: 1px solid var(--green);
  padding: 1%;
  text-align: left;
}

table tr td {
  padding: 1%;
}

.btn-primary {
  background-color: var(--primary);
  padding: 1%;
  color: var(--green);
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn-secondary {
  background-color: var(--green);
  padding: 1%;
  color: var(--primary);
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn-danger {
  background-color: var(--primary);
  padding: 1%;
  color: var(--green);
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/*Menu*/
.menu {
  border-bottom: 1px solid var(--green);
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline;
  padding: 1%;
}

.menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary);
}

.menu ul li a:hover {
  color: var(--secondary);
}

/*Main content*/
.main-content {
  background-color: var(--yellow);
  padding: 3% 0;
}

.col-4 {
  width: 18%;
  background-color: var(--green);
  margin: 1%;
  padding: 2%;
  float: left;
}

/*Footer*/
.footer {
  background-color: var(--secondary);
  color: var(--yellow);
}
